{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            Text File 1:<br>
            <input type="file" name="file1"><br><br>

            Text File 2:<br>
            <input type="file" name="file2"><br><br>

            Algorithm:<br>
            Lines: <input type="radio" name="algorithm" value = "lines" ><br>
            Sentences: <input type="radio" name="algorithm" value = "sentences" ><br>
            Substrings: <input type="radio" name="algorithm" value = "substrings" ><br>
            <br><br>

            Substring Length:<br>
            <input type="text" min="1" name="length"><br>

            <button type="submit">Compare</button>

        </form>
    </div>

{% endblock %}
