{% extends "layout.html" %}

{% block title %}
    Sell!
{% endblock %}

{% block main %}

    <H1 class="navbar-brand"><span class="blue">Portfolio for Customer</span> {{ user[0].username }} ({{ user[0].id }}):</H1>
<BR>
<TABLE class="historyTable" border="1">
    <TR>
        <TD>Description</TD>
        <TD>Quatity</TD>
        <TD>Current Price per Share</TD>
        <TD>Total Value Owned</TD>
    </TR>
    {% for stock in range(0, portfolio|length) %}
        <TR>
            <TD> {{ portfolio[stock].symbol }} </TD>
            <TD> {{ portfolio[stock].quantity }} </TD>
            <TD> ${{ currentQuote[stock] }} </TD>
            <TD> {{ currentValues[stock] }} </TD>
        </TR>
    {% endfor %}
    <TR>
        <TD>CASH ON HAND</TD>
        <TD></TD>
        <TD></TD>
        <TD> {{ currentCash }}</TD>
    </TR>
    <TR>
        <TD></TD>
        <TD></TD>
        <TD>TOTAL ASSETS</TD>
        <TD> {{ totalAssets }}</TD>
    </TR>
</TABLE>

<br><br>

    <form action="/sell" method="post">

        <div class="form-group">
            <select name="symbol">
                {% for symbol in symbols %}
                    <option value= {{ symbol }}> {{ symbol }} </option>
                {% endfor %}
            </select>
            <input class="form-control" name="shares" placeholder="quantity" type="float"/>
        </div>

        <button class="btn btn-primary" type="submit">Sell!</button>
    </form>


{% endblock %}

